body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.small {
    background-color: seagreen;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
}

.medium {
    background-color: rgb(11, 102, 15);
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
}

.large {
    background-color: rgb(133, 238, 14);
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
}

.content {
    display: inline;
}

.content img {
    border-radius: 45%;
}

.footer {
    background-color: sienna;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
}

@media (min-width: 960px) {
    .content {
        display: inline-flex;
    }
}